@model DiplomovaPrace.Models.RegisterViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Registrace</title>

    <!--Made with love by Mutiullah Samim -->
    <!--Bootsrap 4 CDN-->
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="~/Content/register.css" />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="~/Content/datepicker.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="~/Scripts/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datepicker.cs.min.js"></script>




</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">

                @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="card-header">
                        <h3>Registrace</h3>
                        <div class="d-flex justify-content-end social_icon">
                            <span><i class="fab fa-facebook-square"></i></span>
                            <span><i class="fab fa-google-plus-square"></i></span>
                            <span><i class="fab fa-twitter-square"></i></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <h5>@ViewBag.ChybaRegistrace</h5>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        @Html.LabelFor(model => model.Prezdivka)
                                    </span>
                                </div>
                                @Html.EditorFor(model => model.Prezdivka, new { htmlAttributes = new { @class = "form-control" } })
                                <div class="container">
                                    <div class="row">
                                        @Html.ValidationMessageFor(model => model.Prezdivka, "Přezdívka musí být vyplněna.", new { @class = "alert alert-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        @Html.LabelFor(model => model.Heslo)
                                    </span>
                                </div>
                                @Html.EditorFor(model => model.Heslo, new { htmlAttributes = new { @class = "form-control type=password" } })
                                <div class="container">
                                    <div class="row">
                                        @Html.ValidationMessageFor(model => model.Heslo, "Heslo nesmí být prázdné (minimálně 6 znaků).", new { @class = "alert alert-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        @Html.LabelFor(model => model.PotvrzeniHesla)
                                    </span>
                                </div>
                                @Html.EditorFor(model => model.PotvrzeniHesla, new { htmlAttributes = new { @class = "form-control type=password" } })
                                <div class="container">
                                    <div class="row">
                                        @Html.ValidationMessageFor(model => model.PotvrzeniHesla, "Potvrzení hesla není vyplněno nebo se neshoduje.", new { @class = "alert alert-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        @Html.LabelFor(model => model.Email)
                                    </span>
                                </div>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                <div class="container">
                                    <div class="row">
                                        @Html.ValidationMessageFor(model => model.Email, "Email musí být vyplněn.", new { @class = "alert alert-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        @Html.LabelFor(model => model.Jmeno)
                                    </span>
                                </div>
                                @Html.EditorFor(model => model.Jmeno, new { htmlAttributes = new { @class = "form-control" } })
                                <div class="container">
                                    <div class="row">
                                        @Html.ValidationMessageFor(model => model.Jmeno, "Jméno musí být vyplněno.", new { @class = "alert alert-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        @Html.LabelFor(model => model.Prijmeni)
                                    </span>
                                </div>
                                @Html.EditorFor(model => model.Prijmeni, new { htmlAttributes = new { @class = "form-control" } })
                                <div class="container">
                                    <div class="row">
                                        @Html.ValidationMessageFor(model => model.Prijmeni, "Příjmení nesmí být prázdné.", new { @class = "alert alert-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        @Html.LabelFor(model => model.Mesto)
                                    </span>
                                </div>
                                @Html.EditorFor(model => model.Mesto, new { htmlAttributes = new { @class = "form-control" } })
                                <div class="container">
                                    <div class="row">
                                        @Html.ValidationMessageFor(model => model.Mesto, "Město musí být vyplněno.", new { @class = "alert alert-danger" })
                                    </div>
                                </div>
                            </div>

                            <!-- DATUM NAROZENÍ -->
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        @Html.LabelFor(model => model.DatumNarození)
                                    </span>
                                    <div id="sandbox-container">
                                        <div class="input-group date">
                                            @Html.TextBoxFor(model => model.DatumNarození, new { @class = "form-control datepicker" })
                                            <div class="input-group-addon">
                                                <i class="glyphicon glyphicon-th"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        @Html.ValidationMessageFor(model => model.DatumNarození, "Datum narození musí být vyplněno.", new { @class = "alert alert-danger" })
                                    </div>
                                </div>
                            </div>
                            <script>
                                $('#sandbox-container .input-group.date').datepicker({
                                    endDate: new Date(),
                                    format: "dd.mm.yyyy",
                                    language: "cs",
                                    autoclose: true
                                });
                            </script>
                            <!-- END DATUM NAROZENI -->
                        </form>

                        <div class="form-group">
                            <input type="submit" value="Registrovat" class="btn float-right login_btn">
                        </div>

                    </div>
                }
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Máte již vytvořený účet?
                        @Html.ActionLink("Přihlásit", "Login")
                    </div>
                    <div class="d-flex justify-content-center">
                        @Html.ActionLink("Zapomenuté heslo?", "ForgotPassword")
                    </div>

                </div>
            </div>
        </div>
    </div>




    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")


    }
</body>

</html>
