@model DiplomovaPrace.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nové heslo</title>

    <!--Made with love by Mutiullah Samim -->
    <!--Bootsrap 4 CDN-->
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="~/Content/register.css" />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">

                @using (Html.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()


                    <div class="card-header">
                        <h3>Nové heslo</h3>
                        <div class="d-flex justify-content-end social_icon">
                            <span><i class="fab fa-facebook-square"></i></span>
                            <span><i class="fab fa-google-plus-square"></i></span>
                            <span><i class="fab fa-twitter-square"></i></span>
                        </div>
                    </div>


                    <div class="card-body">
                        <form>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    @Html.HiddenFor(model => model.Code)
                                    <span class="input-group-text">
                                        @Html.LabelFor(model => model.Email)
                                    </span>
                                </div>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                <div class="container">
                                    <div class="row">
                                        @Html.ValidationMessageFor(model => model.Email, "Email musí být vyplněn.", new { @class = "alert alert-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    @Html.HiddenFor(model => model.Code)
                                    <span class="input-group-text">
                                        @Html.LabelFor(model => model.Heslo)
                                    </span>
                                </div>
                                @Html.EditorFor(model => model.Heslo, new { htmlAttributes = new { @class = "form-control" } })
                                <div class="container">
                                    <div class="row">
                                        @Html.ValidationMessageFor(model => model.Heslo, "Heslo musí být vyplněno.", new { @class = "alert alert-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    @Html.HiddenFor(model => model.Code)
                                    <span class="input-group-text">
                                        @Html.LabelFor(model => model.PotvrzeniHeslo)
                                    </span>
                                </div>  
                                @Html.EditorFor(model => model.PotvrzeniHeslo, new { htmlAttributes = new { @class = "form-control" } })
                                <div class="container">
                                    <div class="row">
                                        @Html.ValidationMessageFor(model => model.PotvrzeniHeslo, "Potvrzení hesla musí být vyplněno.", new { @class = "alert alert-danger" })
                                        <h5>@ViewBag.ZmenaHeslaChyba</h5>
                                        <h5>@ViewBag.ZmenaHeslaNesplnenePodminky</h5>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="form-group">
                            <input type="submit" value="Nastavit" class="btn float-right login_btn">
                        </div>

                    </div>


                }
            </div>
                
            </div>
    </div>


</body>
</html>
